body{
    overflow-: hidden;
}
.head .titleBar .title ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 2%;
    position: relative;
    left: 5%;
    top: 29px;
}

.head .titleBar .rightNav{
    position: relative;
    left: 70%;
    top: -30px;
}

.head .titleBar .rightNav .drop ul li{
    list-style-type: none;
    display: inline-block;
    padding: 1.2%;
}

.main1 .name h3{
    position: relative;
    left: 11%;
    font-size: 25px;
    top: -890px;
    color: white;
}

.main1 .name .search input{
    position: relative;
    left: 70%;

    top: -940px;
    opacity: 0.8;
    border: 1px solid white;
    width: 25%;
    padding: 0.2%;
}

.main1 .image img{
    background-size: cover;
    width: 100%;
}
.main1 .intro{
    position: relative;
    top: -640px;
    left: 10%;
}

.main1 .intro .btn{
    position: relative;
    top: 45px;
    
}

.main1 .intro .btn button{
    padding: 1%;
    color: white;
    background-color: darkblue;
}

.main2 .funct ul li{
    list-style-type: none;
    width: 22.6%;
    padding: 1%;
    position: relative;
    top: -165px;
    display: inline-block;
}

.main2 .funct .title h3{
    color: darkblue;
    margin-left: 2%;
}

.main2 .funct .title .subTitle p{
    width: 90%;
    text-align: justify;
    margin-left: -50px;
}

.main2 .funct .images .img2{
    float: right;
    position: relative;
    top: -670px;
}

.main2 .funct .images .img2 .imgTop .drinks_electronics span.span{
    margin-left: 6%;
}

.main2 .funct .images .assessories{
    margin-left: 5%;
}

.main2 .funct .images .assessories img{
    height: 610px;
    position: relative;
    top: -55px;
    width: 42%;
    left: 4%;
}

.main2 .funct .images .img2{
    position: relative;
    right: 90px;
}

.trending .title h2{
    position: relative;
    left: 32%;
}

.trending .title .sec1 .imgs1{
 
    width: 22%;
    float: left;
    margin-top: -25%;
    margin-left: 3%;
    
    
}

.trending .title .sec1 .imgs1 p{
    float: left;
}

.trending .title .sec2 .imgs{
 
    width: 22%;
    float: left;
    margin-top: 3%;
    margin-left: 2.4%;
     
}

.trending .title .sec2 .imgs p{
    float: left;
}


#img1{
    width: 35%;
    float: right;
    color: red;
}

#img2{
    width: 35%;
    float: right;
    color: red;
    
}

.clearfix {
    display: block;
}

.clearfix:before,.clearfix:after {
    content: '';
    width: 100%;
    display: table;
}



.blog .title h2{
    margin-top: 9%;
    text-align: center;
}
 
.blog .title .blog1 .top .BlogTop{
    width: 45%;
    float: left;
    margin-left: 4%;
    margin-top: 2%;
}

.blog .title .blog1 .top .BlogTop h3,p{
    float: right;
    width: 40%;
    margin-right: 8%;
    text-align: justify;

}

.blog .title .blog1 .top .BlogTop p{
    margin-top: -18%;
  
}

.blog .title .blog1 .bottom .BlogBottom{
    width: 45%;
    float: left;
    margin-left: 4%;
    margin-top: 2%;
}

.blog .title .blog1 .bottom .BlogBottom h3,p{
    float: right;
    width: 40%;
    margin-right: 8%;
    text-align: justify;

}

.blog .title .blog1 .bottom .BlogBottom p{
    margin-top: -18%;
  
}

.newsletter{
  
    text-align: center;
    font-size: 25px;
    background-color: lightblue;
    
}

.newsletter .heading{
    margin-top: 35%;
    padding: 3%;
}

.newsletter .heading .subHeading .email .form{
    display: inline-block;
    width: 30%;
    

}


.newsletter .heading .subHeading .email .form input{
    padding: 2%;
    width: 62%;
    
}

.newsletter .heading .subHeading .email .form button{
    padding: 5%;
    background-color: darkblue;
    color: white;
}


.contact{
    width: 100%;
    margin-left: -2%;
}

.contact .contact .conc{
    width: 22%;
    float: left;
    margin-top: 5%;
    
}

.contact .contact .conc1{
    width: 33%;
    float: left;
    margin-top: 5%;
}


.contact .contact .conc1 h4{
    margin-left: 33%;
}

.contact .contact .conc1 p{
    width: 70%;
    position: relative;
    left: 11%;
}

.contact .contact .conc h4{
    margin-left: 32%;

}

.contact .contact .conc p{
    width: 60%;
    

}

.blogup{
    width: 33%;
    position: relative;
    left: -32%;
    top: 135px;
}

.blogdown{
    width: 35%;
    position: relative;
    left: 33%;
    top: -33px;
}


.hr1{
    width: 30%;
    position: relative;
    left: -15%;
    top: 35px;
    
}

.hr2{
    width: 35%;
    position: relative;
    left: 52%;
    top: -33px;
}

.footer{
    text-align: center;
    font-size: 20px;
}